* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}
/*NO MODIFICAR HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #3d4337;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*LOGO*/
header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header .logo img {
    max-width: 50px;
    width: 90%;
    margin-right: 10px;
}

/*__________*/


header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

header .navbar ul li a:hover {
    background: #2d312a;
}

header .navbar ul li a.active {
    color: #ffffff;
    background-color: #77816c48;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #3d4337;
    display: none;
    z-index: 1000;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}
.menu-icon{
    font-size: 2rem;
}

header label {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

/*PORTADA*/
.wrp{
    width: 100%; height: 600px;
    position: relative;
}
.portada{
    width: 100%; height: 100%;
    background: linear-gradient(#d2ee5770, rgba(0, 128, 0, 0.3)), 
    url("../../img/img-secundarias/admision.jpg");
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
}
.contenido{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,11,0.6);
}
.contenido .info{
    width: 100%;
    max-width: 750px;
    text-align: left;
}
.contenido .info h1{
    color: #fff;
    font-size: 4rem;
    text-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.contenido .info a{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    padding: 10px 25px;
    color: #fff;
    background: #3d4337;
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 300ms ease;
    letter-spacing: 0.5px; 
}
.contenido .info a:hover{
    background: transparent; 
    border: 2px solid #fff;
}
.curveado{
    position: absolute;
    width: 100%;
    bottom: -10px;
}
.curveado img{
    width: 100%;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!*/


.futuro-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    background: linear-gradient(to right, #bbcaab2f, white, #bbcaab2f);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.futuro-container {
    padding: 50px;
    flex: 1 1 50%; 
    min-width: 300px;
}

.image {
    flex: 1 1 50%; 
    max-height: 400px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.futuro-container h2 {
    font-size: 1.8rem;
    color: #333;
}
.futuro-container h4 {
    font-size: 1.5rem;
    color: #333;
}

.futuro-container h3 {
    font-size: 2.5rem;
    color: #d9730d;
}

.futuro-container p {
    margin: 10px 0;
    color: #555;
    font-size: 1.3rem;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.btn-orange {
    background-color: #d9730d;
    color: white;
}

.btn-gray {
    background-color: #e0e0e0;
    color: #333;
}

.social-media {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.social-media span {
    margin-right: 10px;
    color: #333;
}

.social-media a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-icon a{
    cursor: pointer;
    color: #3d4337;
    font-size: 24px;
    transition: color 0,3s ease;
}
.social-icon a:hover{
    text-decoration: none;
}
.social-icon .facebook:hover {
    color: #3b5998;
    text-shadow: 0 0 5px #ffffff;
}

.social-icon .youtube:hover {
    color: #FF0000;
    text-shadow: 0 0 5px #ffffff;
}

.social-icon .tiktok:hover {
    color: #0e1213;
    text-shadow: 0 0 5px white;
}

/*__________________________*/
/* Sección Requisitos */
.requisitos-section {
    max-width: 1100px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #bbcaab2f, white, #bbcaab2f);
}

.requisitos-section h1 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.requisitos-section h2 {
    color: #d9730d;
    font-size: 2em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Círculo con número */
.circle-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #d9730d;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    font-size: 1em;
}

.requisitos-list {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
}

.requisitos-list li {
    margin-bottom: 8px;
    font-size: 1.1em;
    line-height: 1.5;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 768px) {
    .requisitos-section {
        padding: 35px;
    }
    .requisitos-section h1 {
        font-size: 1.1rem;
    }
    .requisitos-section h2 {
        font-size: 1.3rem;
    }

}












































/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: #3d4337;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    text-transform: none;
    
}
.pie-pagina .grupo-1 .box p a{
    color: #efefef;
}

.pie-pagina .grupo-1 .box p a:hover{
    color: #cbdfb7;
    text-shadow: 2px 2px 4px #1b1d1bbe;
}


.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #77816c48;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    background-color: #77816c48;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.social-icons{
    justify-content: center;
    gap:1rem;
}
.social-icons a{
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: color 0,3s ease;
}
.social-icons a:hover{
    text-decoration: none;
}
.facebook:hover {
    color: #3b5998;
    text-shadow: 0 0 5px #1f3055;
}

.youtube:hover {
    color: #FF0000;
    text-shadow: 0 0 5px #660a0a;
}

.tiktok:hover {
    color: #0e1213;
    text-shadow: 0 0 5px white;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




@media (max-width:1280px){
    footer .grupo-1 .box{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:991px) {
    /*NO MODIFICAR HEADER!!!!!!!!!!!!!!*/
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background-color: rgba(0, 0, 0, 0.8);
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    .contenido{
        padding-left: 20px;
    }
    .contenido .info h1{
        font-size: 2.5rem;
    }   
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .futuro-section {
        flex-direction: column;
    }

    .image {
        order: -1; /* Mover la imagen arriba en dispositivos móviles */
        max-height: 200px;
    }

    .image img {
        width: 100%;
        height: auto;
        object-fit: cover; /* Mantener imagen sin deformar */
    }
}

