* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}
/*NO MODIFICAR HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #3d4337;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*LOGO*/
header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header .logo img {
    max-width: 50px;
    width: 90%;
    margin-right: 10px;
}

/*__________*/


header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

header .navbar ul li a:hover {
    background: #2d312a;
}

header .navbar ul li a.active {
    color: #ffffff;
    background-color: #77816c48;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #3d4337;
    display: none;
    z-index: 1000;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}
.menu-icon{
    font-size: 2rem;
}

header label {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*PORTADA*/
.wrp{
    width: 100%; height: 600px;
    position: relative;
}
.portada{
    width: 100%; height: 100%;
    background: linear-gradient(#d2ee5770, rgba(0, 128, 0, 0.3)), 
    url("/img/portadainstituto.jpg");
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
}
.contenido{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,11,0.6);
}
.contenido .info{
    width: 100%;
    max-width: 750px;
    text-align: left;
}
.contenido .info h1{
    color: #fff;
    font-size: 4rem;
    text-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.contenido .info a{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    padding: 10px 25px;
    color: #fff;
    background: #3d4337;
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 300ms ease;
    letter-spacing: 0.5px; 
}
.contenido .info a:hover{
    background: transparent; 
    border: 2px solid #fff;
}
.curveado{
    position: absolute;
    width: 100%;
    bottom: -10px;
}
.curveado img{
    width: 100%;
}

/*Container card*/

.section-carrera{
    padding-bottom: 100px;
}
.titulo {
    text-align: center;
    padding: 20px;
}

.titulo h1 {
    font-size: 2.5em;
    font-weight: 500;
}

.titulo img{
    max-width: 50%;
    width: 70px;
    padding-left: 10px;
}

.card-container{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
    cursor: default;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content{
    padding: 20px;
    text-align: center;
}
.card-content h3{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.card-container p{
    line-height: 1.5;
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
    text-transform: none;
}

.card-container a:hover {
    background: #2d312a;
    color: #ffffff;
}

.card-button{
    text-decoration: none;
    display: inline-block;
    padding:10px 18px;
    margin-top: 10px;
    color: #2d312a;
    border: 1px solid #3d4337;
    border-radius: 5px ;
    transition: all 400ms ease;
}














/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: #3d4337;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    text-transform: none;
    
}
.pie-pagina .grupo-1 .box p a{
    color: #efefef;
}

.pie-pagina .grupo-1 .box p a:hover{
    color: #cbdfb7;
    text-shadow: 2px 2px 4px #1b1d1bbe;
}


.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #77816c48;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    background-color: #77816c48;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.social-icons{
    justify-content: center;
    gap:1rem;
}
.social-icons a{
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: color 0,3s ease;
}
.social-icons a:hover{
    text-decoration: none;
}
.facebook:hover {
    color: #3b5998;
    text-shadow: 0 0 5px #1f3055;
}

.youtube:hover {
    color: #FF0000;
    text-shadow: 0 0 5px #660a0a;
}

.tiktok:hover {
    color: #0e1213;
    text-shadow: 0 0 5px white;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




@media (max-width:1280px){
    footer .grupo-1 .box{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:991px) {
    /*NO MODIFICAR HEADER!!!!!!!!!!!!!!*/
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background-color: rgba(0, 0, 0, 0.8);
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    .contenido{
        padding-left: 20px;
    }
    .contenido .info h1{
        font-size: 2.5rem;
    }   
    .aprendizajes {
        text-align: right;
        padding-right: 40px;
        padding-left: 40px;
    }
    .descripcion{
        width: 70%;
    }
    
    
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .container-carrera {
        flex-direction: column; 
        align-items: flex-start;
    }

}









