* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}
/*NO MODIFICAR HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #3d4337;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*LOGO*/
header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header .logo img {
    max-width: 50px;
    width: 90%;
    margin-right: 10px;
}

/*__________*/


header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

header .navbar ul li a:hover {
    background: #2d312a;
}

header .navbar ul li a.active {
    color: #ffffff;
    background-color: #77816c48;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #3d4337;
    display: none;
    z-index: 1000;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}
.menu-icon{
    font-size: 2rem;
}

header label {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!*/


/*PORTADA*/
.wrp{
    width: 100%; height: 600px;
    position: relative;
}
.portada{
    width: 100%; height: 100%;
    background: linear-gradient(#d2ee5770, rgba(0, 128, 0, 0.3)), 
    url("../../img/img-secundarias/contabilidad.jpg");
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
}
.contenido{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,11,0.6);
}
.contenido .info{
    width: 100%;
    max-width: 750px;
    text-align: left;
}
.contenido .info h1{
    color: #fff;
    font-size: 4rem;
    text-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.contenido .info a{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    padding: 10px 25px;
    color: #fff;
    background: #3d4337;
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 300ms ease;
    letter-spacing: 0.5px; 
}
.contenido .info a:hover{
    background: transparent; 
    border: 2px solid #fff;
}
.curveado{
    position: absolute;
    width: 100%;
    bottom: -10px;
}
.curveado img{
    width: 100%;
}

/*section Carrera*/
.carrera {
    padding: 20px;
    background-color: #f9f9f9;
}

.container-carrera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.titulo-conoce {
    text-align: left;
    padding-bottom: 70px;
}
.titulo-conoce h1{
    font-size: 3rem;
    color: #3d4337;
    padding: 15px;
    text-align: center;
    margin: 20px 0;
}

.titulo-conoce .descripcion{
    max-width: 100%;
    margin: 0 auto;
}

.descripcion {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 700px;
    height: auto;
    align-content: center;
    font-size: 1.25rem;
    text-align: justify;
}

.info-carrera {
    width: 100%; 
    padding: 30px;
    text-align: left;
    padding-left: 150px;
    color: #3d4337;
}

.info-carrera h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.info-carrera h3{
    color: #d11e06ab;
}

.info-carrera .detalles h3 {
    margin: 10px 0;
}

.aprendizajes {
    text-align: right;
    margin: 20px 0;
    font-size: 1rem;
    color: #3d4337;
    padding-right: 150px;
}
.aprendizajes h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.aprendizajes p{
    font-size: 1rem;
}

.certificaciones {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-left: 150px;
    align-items: flex-start;
    padding-bottom: 60px;
    padding-top: 40px;
}

.texto-certificaciones {
    flex: 1; 
    text-align: left;
    margin-right: 20px; 
}
.texto-certificaciones h1{
    padding: 5px;
    font-size: 2.5rem;
    color: #3d4337;
}
.texto-certificaciones p{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.texto-certificaciones ul{
    font-size: 1rem;
    list-style-type: none;
}
.certificado-imagen {
    margin-top: 10px;
    padding-right: 80px;
}
.certificado-imagen img{
    width: 100%;
    max-width: 300px;
    
}

.convenios {
    text-align: center;
    padding: 20px;
}
.convenios h1{
    padding: 20px;
    font-size: 3rem;
    color: #3d4337;
}

.imagenes-convenios {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.imagenes-convenios img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    border-radius: 2%;
    border: 1px solid #3d4337;
}

















/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: #3d4337;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    text-transform: none;
    
}
.pie-pagina .grupo-1 .box p a{
    color: #efefef;
}

.pie-pagina .grupo-1 .box p a:hover{
    color: #cbdfb7;
    text-shadow: 2px 2px 4px #1b1d1bbe;
}


.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #77816c48;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    background-color: #77816c48;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.social-icons{
    justify-content: center;
    gap:1rem;
}
.social-icons a{
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: color 0,3s ease;
}
.social-icons a:hover{
    text-decoration: none;
}
.facebook:hover {
    color: #3b5998;
    text-shadow: 0 0 5px #1f3055;
}

.youtube:hover {
    color: #FF0000;
    text-shadow: 0 0 5px #660a0a;
}

.tiktok:hover {
    color: #0e1213;
    text-shadow: 0 0 5px white;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/




@media (max-width:1280px){
    footer .grupo-1 .box{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:991px) {
    /*NO MODIFICAR HEADER!!!!!!!!!!!!!!*/
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background-color: rgba(0, 0, 0, 0.8);
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    .contenido{
        padding-left: 20px;
    }
    .contenido .info h1{
        font-size: 2.5rem;
    }   
    .aprendizajes {
        text-align: right;
        padding-right: 40px;
        padding-left: 40px;
    }
    .descripcion{
        width: 70%;
    }
    
    
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .container-carrera {
        flex-direction: column; 
        align-items: flex-start;
    }

}