* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffffff, #bec5b8);
}

header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

hr {
    height: 3px;
    background-color: #ffffff;
}

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 100px;
    background-color: #3d4337;
}


nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav .nav-links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links li {
    list-style: none;
}

nav .nav-links a {
    display: block;
    padding: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    background-color: #1b1b1a73;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav .nav-links a:hover {
    background-color: #77816cec;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav ul li a.active {
    color: #ffffff;
    background-color: #77816c48;
}
/* Estilos para el submenú */
.sub-menu {
    display: none; 
    position: absolute; 
    background-color: #3d4337;
    padding: 7px; 
    z-index: 100; 
    margin-top: 7px; 
}

.nav-links li:hover .sub-menu {
    display: block; 
}

.sub-menu li {
    width: 200px; 
}

.sub-menu li a {
    padding: 25px;
    display: block; 
    color: #ffffff; 
    text-decoration: none; 
}

.sub-menu li a:hover {
    background-color: #77816cec; 
}

/*___________*/
#toogle {
    position: absolute;
    top: -100px;
}

nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.logo img {
    max-width: 80px;
}

/*section institucion*/
.institucion-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: linear-gradient(to right, #feffd085, #fdf4ed8a);
}

.institucion-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.institucion-text {
    color: #333;
}

.institucion-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #282c24;
    /* Color para el título principal */
    padding-top: 20px;
}

.institucion-text h2 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ff6600;
    /* Color para los subtítulos */
    padding-top: 10px;
}


.institucion-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    padding-right: 20px;
}

.institucion-text img {
    max-width: 30px;
}

.institucion-text .texto-info-nosotros {
    background-color: #3d433715;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    border-radius: 2%;
}

.institucion-video video {
    width: 120%;
    border-radius: 8px;
}

/* footer */
.footer {
    background-color: #3d4337;
    color: #ffffff;
    padding: 2rem 1rem; /* Añadido padding para espacio */
}
.footer p{
    margin-bottom: 1rem;
    line-height: 1.5;
}
.contact-info li {
    display: flex; 
    align-items: center; 
}

.contact-info li i {
    margin-right: 10px; 
    color: #ffffff; 
}

.container-footer {
    max-width: 1200px; /* Puedes ajustar el ancho según sea necesario */
    margin: 0 auto; /* Centrar el contenido */
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Asegúrate de que esto esté en su lugar */
    gap: 2rem; /* Espacio entre columnas */
    margin-bottom: 20px;
}
.menu-footer ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-footer li {
    color: #ffffff; 
    margin-bottom: 0.5rem; 
}

.menu-footer a {
    color: #ffffff; 
    text-decoration: none; 
}

.menu-footer a:hover {
    text-decoration: underline;
}

.title-footer {
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: none;
    padding: 20px;
    text-align: center;
}
.social-icons{
    text-align: center;
    justify-content: center;
    gap:1rem;
}
.social-icons a{
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: color 0,3s ease;
}
.social-icons a:hover{
    text-decoration: none;
}
.facebook:hover {
    color: #3b5998;
    text-shadow: 0 0 5px #1f3055;
}

.twitter:hover {
    color: #1DA1F2;
    text-shadow: 0 0 5px #0c4466;
}

.youtube:hover {
    color: #FF0000;
    text-shadow: 0 0 5px #660a0a;
}

.tiktok:hover {
    color: #0e1213;
    text-shadow: 0 0 5px white;
}

.instagram:hover {
    color: #C13584;
    text-shadow: 0 0 5px #5c103b;
}

.copyright {
    text-align: center;
    margin-top: 1rem; 
}

.copyright p {
    font-size: 0.8rem;
}


@media (max-width:768px) {
    nav.logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .nav-links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .nav-links a {
        font-size: 20px;
    }

    nav :checked~.nav-links {
        bottom: 0;
    }

    nav .icon-bars {
        display: block;
    }

}