* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}
/*NO MODIFICAR HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #3d4337;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*LOGO*/
header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header .logo img {
    max-width: 50px;
    width: 90%;
    margin-right: 10px;
}

/*__________*/


header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

header .navbar ul li a:hover {
    background: #2d312a;
}

header .navbar ul li a.active {
    color: #ffffff;
    background-color: #77816c48;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #3d4337;
    display: none;
    z-index: 1000;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

.menu-icon{
    font-size: 2rem;
}

header label {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!*/
.section1 {
    margin-top: 80px;
    padding-bottom: 50px;
}

/*SECTION1*/
.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title-section img {
    width: 40px;
    height: auto;
    margin-left: 20px;
}

/*Seccion Quienes somos*/
.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.about-section .column {
    flex: 1;
    line-height: 1.6;
    margin: 10px;
    background-color: #dadfd6a1;
    padding: 30px;
    border-radius: 15px;
}

.about-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #ff6600;
}

.about-section p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}

.about-section video {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
}

/*Seccion mision y vision*/
.mission-vision {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mission-vision .column {
    flex: 1;
    margin: 10px;
    background-color: #dadfd6a1;
    padding: 30px;
    border-radius: 15px;
}

.mission-vision h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #ff6600;
}

.mission-vision p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}






















/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: #3d4337;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    text-transform: none;
    
}
.pie-pagina .grupo-1 .box p a{
    color: #efefef;
}

.pie-pagina .grupo-1 .box p a:hover{
    color: #cbdfb7;
    text-shadow: 2px 2px 4px #1b1d1bbe;
}


.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #77816c48;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2{
    background-color: #77816c48;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.social-icons{
    justify-content: center;
    gap:1rem;
}
.social-icons a{
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: color 0,3s ease;
}
.social-icons a:hover{
    text-decoration: none;
}
.facebook:hover {
    color: #3b5998;
    text-shadow: 0 0 5px #1f3055;
}

.youtube:hover {
    color: #FF0000;
    text-shadow: 0 0 5px #660a0a;
}

.tiktok:hover {
    color: #0e1213;
    text-shadow: 0 0 5px white;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



@media (max-width:1280px){
    footer .grupo-1 .box{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width:991px) {
    /*NO MODIFICAR HEADER!!!!!!!!!!!!!!*/
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background-color: rgba(0, 0, 0, 0.8);
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    .section1 {
        margin: 110px auto;
        margin-bottom: 0;
    }
    .title-section {
        flex-direction: column;
        text-align: center;
    }

    .title-section img {
        margin: 5px 0;
        width: 30px;
    }

    .about-section,
    .mission-vision {
        flex-direction: column;
    }

    .about-section .column,
    .mission-vision .column {
        width: 90%;
    }
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
