* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffffff, #bec5b8);
}

header {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

hr {
    height: 3px;
    background-color: #ffffff;
}

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 100px;
    background-color: #3d4337;
}


nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav .nav-links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links li {
    list-style: none;
}

nav .nav-links a {
    display: block;
    padding: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    background-color: #1b1b1a73;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav .nav-links a:hover {
    background-color: #77816cec;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav ul li a.active {
    color: #ffffff;
    background-color: #77816c48;
}
/* Estilos para el submenú */
.sub-menu {
    display: none; 
    position: absolute; 
    background-color: #3d4337;
    padding: 7px; 
    z-index: 100; 
    margin-top: 7px; 
}

.nav-links li:hover .sub-menu {
    display: block; 
}

.sub-menu li {
    width: 200px; 
}

.sub-menu li a {
    padding: 25px;
    display: block; 
    color: #ffffff; 
    text-decoration: none; 
}

.sub-menu li a:hover {
    background-color: #77816cec; 
}

/*___________*/
#toogle {
    position: absolute;
    top: -100px;
}

nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

section{
    padding-top: 105px;
}

.logo img {
    max-width: 80px;
}

.container-fondo{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative; 
}
.fondo-contacto{
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    background-color: #545c30;
    align-items: center;
    justify-content: center;
    
}
.fondo-contacto__section{
    width: 100%;
    position: relative;
    z-index: 2;
}
.fondo-contacto__img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
    filter: blur(1px);
}
.contact-infonot{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items:center;
    bottom: 20px;
    left: 20px;
}
.contact-title{
    font-size: 60px;
    color: #ffffff;
    margin: 0;
    text-shadow: 2px 2px 4px #3d4337;
}
.contact-logo{
    max-width: 300px;
    margin-left:10px;
    height: auto;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.7));
}
#ultimas-noticias {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
}

#ultimas-noticias h1 {
    font-size: 2.5em; 
    color: #333;
    font-weight: bold;
    text-transform: uppercase; 
    position: relative; 
    padding-bottom: 10px; 
    margin: 0; 
}

#ultimas-noticias h1::after {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 0; 
    width: 200px; 
    height: 4px; 
    background-color: #3d4337; 
}

/*seccionnoticia*/
#seccion-noticias-cronologico {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
}

.noticia-cronologica {
    width: 100%;
    max-width: 800px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.noticia-cronologica img {
    width: 100%;
    max-height: 300px; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
}

.noticia-cronologica h2 {
    font-size: 2em;
    margin: 15px 0;
    color: #333;
}

.noticia-cronologica p {
    font-size: 1.5em;
    color: #666;
    margin: 0 15px 15px 15px;
}

.noticia-cronologica a {
    margin-top: auto;
    display: block;
    padding: 10px;
    background-color: #3d4337;
    color: white;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
}

.noticia-cronologica a:hover {
    background-color: #3d433793;
}

/* footer */
.footer {
    background-color: #3d4337;
    color: #ffffff;
    padding: 2rem 1rem; 
}
.footer p{
    margin-bottom: 1rem;
    line-height: 1.5;
}
.contact-info li {
    display: flex; 
    align-items: center; 
}

.contact-info li i {
    margin-right: 10px; 
    color: #ffffff; 
}

.container-footer {
    max-width: 1200px; 
    margin: 0 auto; 
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem; 
    margin-bottom: 20px;
}
.menu-footer ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-footer li {
    color: #ffffff; 
    margin-bottom: 0.5rem; 
}

.menu-footer a {
    color: #ffffff; 
    text-decoration: none; 
}

.menu-footer a:hover {
    text-decoration: underline;
}

.title-footer {
    font-weight: 300;
    font-size: 1.3rem;
    text-transform: none;
    padding: 20px;
    text-align: center;
}
.social-icons{
    text-align: center;
    justify-content: center;
    gap:1rem;
}
.social-icons a{
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: color 0,3s ease;
}
.social-icons a:hover{
    text-decoration: none;
}
.facebook:hover {
    color: #3b5998;
    text-shadow: 0 0 5px #1f3055;
}

.twitter:hover {
    color: #1DA1F2;
    text-shadow: 0 0 5px #0c4466;
}

.youtube:hover {
    color: #FF0000;
    text-shadow: 0 0 5px #660a0a;
}

.tiktok:hover {
    color: #0e1213;
    text-shadow: 0 0 5px white;
}

.instagram:hover {
    color: #C13584;
    text-shadow: 0 0 5px #5c103b;
}

.copyright {
    text-align: center;
    margin-top: 1rem; 
}

.copyright p {
    font-size: 0.8rem;
}

/* Responsive design para móviles */
@media (max-width: 768px) {
    nav.logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .nav-links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .nav-links a {
        font-size: 20px;
    }

    nav :checked~.nav-links {
        bottom: 0;
    }

    nav .icon-bars {
        display: block;
    }
}