*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffffff, #bec5b8);
}

header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  hr{
    height: 5px;
    background-color: #ffffff;
  }

section{
    padding-top: 100px;
}

.section1{
    padding-bottom: 20px;
    padding-top: 20px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d4337; /* Color de fondo */
    padding: 5px 300px;
    
}

.logo img {
    height: 80px; /* Ajusta el tamaño del logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s;
}

.nav-links a:hover {
    background-color: #52584b;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Slider*/
.container-slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
 
}
.slider{
    width: 400%;
    height: 750px;
    display: flex;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;

}

.titulo{
    text-align: center;
    padding: 20px;
    font-size:150%;
}

/*container*/
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-1%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
padding: 15px;
text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
    text-align: left;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
 
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #3d4337;
    border: 1px solid #3d4337;
    border-radius: 4px;
    transition:all 400ms ease;
}

.card .contenido a:hover{
    background:#3d4337 ;
    color: #ffffff;
}




/*footer
.footer {
	background-color: #3d4337;
    color: #ffffff;
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 300;
	font-size: 1.2rem;
	text-transform:none;
}

socialiconos

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}
.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.tiktok {
	background-color: #000000;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}
*/